
@import "bootstrap";
@import 'font-awesome';
@import "social-buttons-3";
@import "pygments";
@import "skill_tests";
@import "questions";
@import "users";


html, body {
  height: 100%;
}

#wrapper {
  min-height:100%;
  position: relative;
}

#main {
  padding-bottom:70px;   /* Height of the footer + 30px*/
}

footer {
  position: absolute;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear: both;
  width: 100%;
  bottom: 0;
}

.navbar-right {
  img {
    margin-top: 5px;
  }
  li {
    margin-left: 5px;
    margin-right: 0;
  }
}

#jobbox-img {
  padding-top: 20px;
  padding-bottom: 20px;
  background: image-url('jobbox-logo.png') 0px 0px no-repeat;
  width: 167px;
  text-indent: -9999em;
  margin-left: 5px;
}